.card-cocktail {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  height: 200px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-cocktail > a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 0;
  text-align: center;
}


div .title-row {
  margin-bottom: 10px;
}

.ingredient-table {
  border-bottom:1pt solid rgba(180, 180, 180, 0.4);
  margin-bottom: 10px;
}

.add-ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cocktails-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-cocktail > img {
  height: 300px;
}
